body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(54, 76, 89);
}

.search {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
}

.search input {
    display: block;
    border: 1px solid #eee;
    font-size: 25px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.results-item {
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
}

.results-item img {
    height: 300px;
    margin: 0 auto 20px;
}

img {
    display: block;
    max-width: 100%;
}
